html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
    margin:0;
    padding:0;
    /*border:0;
    */
    /*outline:0;
	*/
    /*font-size:100%;
	vertical-align:baseline;
	background:transparent;
	*/
}
h1,h2,h3,h4,h5,h6,em,i {
    font-weight:100;
    font-style:normal;
}
ul,ol,li {
    list-style-type:none;
}
body{
    width: 100%;
    font-size: 14px;
}
html,body{
    height: 100%;
}
a {
    color:#666;
    text-decoration:none;
    outline:0;
}
a:hover {
    text-decoration:none;
}
#home{
    background: #f0f0f0;
}
#home .foot-img{
    width: 100%;
    overflow: hidden;
    position: relative;
}
#home .foot-img .search{

}
input.search::-webkit-input-placeholder{
    color: #fff !important;
}
#home .foot-img input.search{
    height: 28px;
    line-height: 28px;
    border: none;
    outline: none;
    background: rgba(176, 176, 176, 0.58) url('../img/icon-search.png') no-repeat 30px center;
    position: absolute;
    width: 200px;
    border-radius: 14px;
    left: 50%;
    margin-left: -100px;
    top: 20px;
    display: block;
    padding: 6px 10px 6px 60px;
    color: #fff;
}
#home .foot-img img{
    display: block;
    width: 100%;
}
#home .menu{
    padding: 8px 6px;
    background: #fff;
}
#home .menu .weui-flex .news{
    background: url('../img/icon_01@2x.png') no-repeat center top;

}
#home .menu .weui-flex .policy{
    background: url('../img/icon_02@2x.png') no-repeat center top;

}
#home .menu .weui-flex .case{
    background: url('../img/icon_03@2x.png') no-repeat center top;

}
#home .menu .weui-flex .info{
    background: url('../img/icon_04@2x.png') no-repeat center top;

}
#home .menu .weui-flex .item{
    text-align: center;
    padding-top: 64px;
    background-size: 60px;
    font-size: 13px;
    color: #555;
}
#home #news{
    margin-top: 10px;
    background: #fff;
    padding-left: 10px;
}
#home .home-item .title{
    border-bottom: 1px solid #E7ECEF;
    font-size: 14px;
    color: #323232;
    background: url('../img/icon_arrow_right.png') no-repeat right center;
    padding: 6px 6px 6px 0;
}
#home .home-item .content{
    padding: 10px 10px 20px 0;
}
#home #info{
    margin-top: 10px;
    background: #fff;
    padding-left: 10px;
}
#home #info .content{
    font-size: 13px;
    color: #888;
}
#home #phone{
    margin-top: 10px;
    background: #fff;
    padding-left: 10px;
}
#home #phone .content{
    font-size: 13px;
    color: #666;
}
#home .slider-pagination>.slider-pagination-item.slider-pagination-item-active{
    background-color: #D4D2D2;
}
#home .slider-pagination>.slider-pagination-item{
    background-color: #EBE8E8;
}
#home .new-box{
    overflow: hidden;
    padding-bottom: 20px;
}
#home .new-box .left{
    float: left;
    width: calc(100% - 100px);
}
#home .new-box .left .new-title{
    font-size: 16px;
    color: #323232;
}
#home .new-box .left .new-content{
    font-size: 13px;
    color: #888888;
    margin-top: 6px;
}
#home .new-box .left .new-date{
    font-size: 12px;
    color: #aaaaaa;
    margin-top: 6px;
}
#home .new-box .right{
    float: right;
    width: 70px;
    height: 70px;
}
#home .new-box .right img{
    display: block;
    width: 100%;
}
.new-list{
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid #E7ECEF;
    margin-left: 10px;
}
.new-list .new-box{
    overflow: hidden;
}
.new-list .new-box .left{
    float: left;
    width: calc(100% - 80px);
}
.new-list .new-box .left .new-title{
    font-size: 16px;
    color: #323232;
}
.new-list .new-box .left .new-content{
    font-size: 13px;
    color: #888888;
    margin-top: 6px;
}
.new-list .new-box .left .new-date{
    font-size: 12px;
    color: #aaaaaa;
    margin-top: 6px;
}
.new-list .new-box .right{
    float: right;
    width: 70px;
    height: 70px;
}
.new-list .new-box .right img{
    display: block;
    width: 100%;
}
.new-details .title{
    text-align: center;
    font-size: 18px;
    color: #323232;
    margin-top: 10px;
}
.new-details .date{
    text-align: center;
    font-size: 12px;
    color: #999999;
    margin-top: 10px;
}
.new-details .details{
    padding: 14px;
}
.new-details .details .img{
    width: 100%;
    overflow: hidden;
}
.new-details .details .img img{
    width: 100%;
    display: block;
}
.new-details .details p{
    margin-top: 10px;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0.12px;
    text-align: justify;
    line-height: 23px;
}
.team-info{}
.team-info .head{
    height: 56px;
    background:#70A3EB ;
    overflow: hidden;
    position: fixed;
    top:0;
    width: 100%;
}
.team-info .head .search-box{
    float: left;
}
.team-info .head input.search{
    border: none;
    outline: none;
    background: rgba(0,0,0,0.15) url('../img/icon-search.png') no-repeat 10px center;
    height: 30px;
    width: calc(100% - 100px);
    margin-left: 20px;
    margin-top: 13px;
    border-radius: 15px;
    padding-left: 40px;
    box-sizing: border-box;
    color: #fff;
}
.team-info .head .all{
    width: 60px;
    box-sizing: border-box;
    padding-right: 20px;
    background: url('../img/icon_arrow_down.png') no-repeat 30px center;
    line-height: 56px;float: right;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.12px;
}
.team-info .info-list{
    padding-left: 10px;
    margin-top: 56px;
}
.team-info .info-list .info-item{
    border-bottom: 1px solid #E7ECEF;
    box-sizing: border-box;
    padding: 14px 24px 14px 0;
    background: url('../img/icon_arrow_right@2x.png') no-repeat right center;
    background-size: 40px;
}
.team-info .info-list .info-item .info-title{
    font-size: 16px;
    color: #323232;
    letter-spacing: 0.12px;
}
.team-info .info-list .info-item .info-address{
    font-size: 13px;
    color: #666666;
    letter-spacing: 0.12px;
    text-align: justify;
    line-height: 22px;
    margin-top: 10px;
}
.team-info .info-list .info-item .info-phone{
    font-size: 13px;
    color: #666666;
    letter-spacing: 0.12px;
    text-align: justify;
    line-height: 22px;
}
